* {
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: sans-serif;
  line-height: 1.5;
}

.input {
  width: 100%;
  font-size: 16px;
  line-height: 1.5;
}

.input_box,
.chosen_address,
.results,
.error {
  width: 330px;
}

.input,
.chosen_address,
.a_result,
.error {
  padding: 5px 10px;
}

.input,
.results {
  border: 1px solid #999;
}

.results {
  border-top: 0px;
}

.chosen_address {
  margin-top: 10px;
  background: #EEE;
}

.error {
  background: #FFA8A8;
}

.a_result:hover {
  cursor: pointer;
  background: #EEE;
}

.input_box {
  position: relative;
}

.clear_button {
  position: absolute;
  right: 10px;
  top: 9px;
}

.clear_button:hover {
  cursor: pointer;
}

.clear_button img {
  width: 16px;
}
